<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>UNSWBook</display-name>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActiveServlet</servlet-name>
    <servlet-class>servlet.ActiveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>servlet.ProfileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditProfileServlet</servlet-name>
    <servlet-class>servlet.EditProfileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PostServlet</servlet-name>
    <servlet-class>servlet.PostServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DetailServlet</servlet-name>
    <servlet-class>servlet.DetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddFriendServlet</servlet-name>
    <servlet-class>servlet.AddFriendServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FriendProfileServlet</servlet-name>
    <servlet-class>servlet.FriendProfileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FriendRequestServlet</servlet-name>
    <servlet-class>servlet.FriendRequestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MarkReadServlet</servlet-name>
    <servlet-class>servlet.MarkReadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindPassServlet</servlet-name>
    <servlet-class>servlet.FindPassServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminSearchServlet</servlet-name>
    <servlet-class>servlet.AdminSearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BlockUserServlet</servlet-name>
    <servlet-class>servlet.BlockUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActivityServlet</servlet-name>
    <servlet-class>servlet.ActivityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchGraphServlet</servlet-name>
    <servlet-class>servlet.SearchGraphServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UptokenServlet</servlet-name>
    <servlet-class>servlet.UptokenServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StickServlet</servlet-name>
    <servlet-class>servlet.StickServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WatchlistServlet</servlet-name>
    <servlet-class>servlet.WatchlistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>servlet.BookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RemoveWatchlistServlet</servlet-name>
    <servlet-class>servlet.RemoveWatchlistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditPostServlet</servlet-name>
    <servlet-class>servlet.EditPostServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeletePostServlet</servlet-name>
    <servlet-class>servlet.DeletePostServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AgreeBookingServlet</servlet-name>
    <servlet-class>servlet.AgreeBookingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeclineBookingServlet</servlet-name>
    <servlet-class>servlet.DeclineBookingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchPostServlet</servlet-name>
    <servlet-class>servlet.SearchPostServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CancelBookingServlet</servlet-name>
    <servlet-class>servlet.CancelBookingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PostReviewServlet</servlet-name>
    <servlet-class>servlet.PostReviewServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActiveServlet</servlet-name>
    <url-pattern>/ActiveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditProfileServlet</servlet-name>
    <url-pattern>/EditProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostServlet</servlet-name>
    <url-pattern>/PostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DetailServlet</servlet-name>
    <url-pattern>/DetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFriendServlet</servlet-name>
    <url-pattern>/AddFriendServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FriendProfileServlet</servlet-name>
    <url-pattern>/FriendProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FriendRequestServlet</servlet-name>
    <url-pattern>/FriendRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MarkReadServlet</servlet-name>
    <url-pattern>/MarkReadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindPassServlet</servlet-name>
    <url-pattern>/FindPassServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminSearchServlet</servlet-name>
    <url-pattern>/AdminSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BlockUserServlet</servlet-name>
    <url-pattern>/BlockUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActivityServlet</servlet-name>
    <url-pattern>/ActivityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchGraphServlet</servlet-name>
    <url-pattern>/SearchGraphServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UptokenServlet</servlet-name>
    <url-pattern>/UptokenServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StickServlet</servlet-name>
    <url-pattern>/StickServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WatchlistServlet</servlet-name>
    <url-pattern>/WatchlistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/BookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveWatchlistServlet</servlet-name>
    <url-pattern>/RemoveWatchlistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditPostServlet</servlet-name>
    <url-pattern>/EditPostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeletePostServlet</servlet-name>
    <url-pattern>/DeletePostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AgreeBookingServlet</servlet-name>
    <url-pattern>/AgreeBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeclineBookingServlet</servlet-name>
    <url-pattern>/DeclineBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchPostServlet</servlet-name>
    <url-pattern>/SearchPostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CancelBookingServlet</servlet-name>
    <url-pattern>/CancelBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostReviewServlet</servlet-name>
    <url-pattern>/PostReviewServlet</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
